.Container {
  padding: 20px;
}

.inputContainer {
  position: relative;
  margin: 0 auto;
  width: 50%;
}

input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

input::placeholder {
  color: #999;
  font-size: 12px;
}

.pressEnter {
  position: absolute;
  top: 10px;
  right: 0;
  color: #999;
  font-size: 12px;
}
